# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editors and IDEs
.idea/
.vscode/

# TypeScript
*.tsbuildinfo

# Vite cache
.vite/

.vercel
